<div class="container">

  <div class="video-container">

    <video #videoElement class="video swapped"></video>

    <div class="controls" [hidden]="!ready">

      @if (cameras.length > 1) {
        <div class="cameras">
          <select class="cameras-options" [ngModel]="selectedCamera" (ngModelChange)="onCameraChange($event)">
            @for (device of cameras; track device) {
              <option [ngValue]="device">{{device.label}}</option>
            }
          </select>
        </div>
      }

    </div>

    <div class="info">
      <a title="https://github.com/nunofaria11/webcam-mirror"
        href="https://github.com/nunofaria11/webcam-mirror"
        target="_blank">
        <img src="assets/github.png" alt="GitHub repository">
      </a>
    </div>

  </div>

  @if (error) {
    <div class="video-error">
      <span [textContent]="error"></span>
    </div>
  }

</div>
