<div class="container">

    <div class="video-container">

        <video #videoElement class="video swapped"></video>

        <div class="controls" [hidden]="!ready">

            <div class="cameras" *ngIf="cameras.length > 1">

                <select class="cameras-options" [(ngModel)]="selectedCamera" (change)="onCameraChange()">
                    <option *ngFor="let device of cameras" [ngValue]="device" [selected]="device === selectedCamera">{{device.label}}</option>
                </select>

            </div>

        </div>

        <div class="info">
            <a title="https://github.com/nunofaria11/webcam-mirror"
                href="https://github.com/nunofaria11/webcam-mirror"
                target="_blank">
                <img src="assets/github.png">
            </a>
        </div>

    </div>

    <div class="video-error" *ngIf="error">
        <span [textContent]="error"></span>
    </div>

</div>