.container {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;

  background-color: white;
  color: black;

  .video {
    height: 100%;
    object-fit: cover;
    position: absolute;
    width: 100%;

    z-index: 1;

    &.swapped {
      transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
      /* Safari and Chrome */
      -moz-transform: rotateY(180deg);
      /* Firefox */
    }
  }

  .controls {
    z-index: 2;
    position: absolute;
  }
}
