.container {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;

  background-color: white;
  color: black;

  .video {
    height: 100%;
    object-fit: cover;
    position: absolute;
    width: 100%;

    z-index: 1;

    &.swapped {
      transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
      /* Safari and Chrome */
      -moz-transform: rotateY(180deg);
      /* Firefox */
    }
  }

  .info {
    position: absolute;
    top: 0;
    right: 0;

    margin: 10px;
    cursor: pointer;

    z-index: 1;

    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  .controls {
    z-index: 2;
    position: absolute;

    .cameras-options {
      padding: 5px;
      margin: 5px;
      cursor: pointer;
      outline: none;
      opacity: 0.25;

      &:hover {
        opacity: 1;
      }
    }

  }
}
